<nav class="navbar navbar-dark navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Staywise</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link <%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= currentPath.startsWith('/rooms') ? 'active' : '' %>" href="/rooms">Rooms</a>
        </li>

        <% if (!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link <%= currentPath === '/login' ? 'active' : '' %>" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= currentPath === '/register' ? 'active' : '' %>" href="/register">Register</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link <%= currentPath === '/userinfo' ? 'active' : '' %>" href="/userinfo">User profile</a>
        </li>
        <% if (currentUser && currentUser.isAdmin) { %>
          <li class="nav-item">
            <a class="nav-link <%= currentPath === '/admin/booking' ? 'active' : '' %>" href="/admin/booking">Admin Panel</a>
          </li>
        <% } %> 

      </ul>
    </div>
  </div>
</nav>
