<div style="text-align: center;">
  <h1>User Info</h1>
</div>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <p><strong>Username:</strong>
          <%= user.username %>
        </p>
        <p><strong>Email:</strong>
          <%= user.email || 'Not Provided' %>
        </p>
      </div>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <h2>Your Bookings</h2>
</div>

<div class="container">
  <div class="row">
    <div class="card p-2">
      <% if(bookings.length===0) { %>
        <p>You have no bookings yet.</p>
        <% } else { %>
          <ul>
            <% bookings.forEach(booking=> { %>
              <li>
                <% console.log(booking._id) %>
                <strong>Booked for:</strong>
                <%= booking.usernm %> <br>
                  <strong>Room:</strong>
                  <%= booking.room.title %> <br>
                    <strong>Check-in:</strong>
                    <%= booking.checkIn.toDateString() %> <br>
                      <strong>Check-out:</strong>
                      <%= booking.checkOut.toDateString() %> <br>
                      <strong>Status: <%=booking.status%></strong>
                      <form class="my-2" method="post" action="/booking/<%=booking._id%>?_method=DELETE">
                        <button class="btn btn-danger">Cancel Booking</button>
                      </form>
              </li>
              <% }) %>
          </ul>
          <% } %>
    </div>
  </div>
</div>